<section
    class="flex flex-col items-center justify-center min-h-screen text-white bg-[#181819] text-center gap-y-[10px]"
   >
    
        <h1 style="font-family: 'Esteban', serif;" class=" text-5xl">"Coordenadas" scrapbook</h1>
        <img src="https://i.imgur.com/JjFfYx8.png" alt="Heart Coordinates" class="w-60"/>
        <p style="font-family: 'League Script', cursive;">Mis recuerdos, los tuyos y el <br>punto exacto donde se encuentran.</p>
        <p style="font-family: 'Encode Sans', sans-serif; letter-spacing: 8px;" class="text-[16px]">You + Me = <span style="color: red; font-family: 'League Script', cursive; letter-spacing: 0;" class="text-[20px]">Love</span></p>
   
</section>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&family=Esteban&family=League+Script&display=swap" rel="stylesheet">