<section
    class="bg-white text-black flex flex-col items-center justify-center gap-y-8 py-20 px-4"
>
    <div class="flex items-center justify-center">
        <div class="w-40">
            <p style="font-family: 'Cormorant Upright', serif;">
                No entiendo por qué me encuentro un poco sentimental. No logro
                entenderlo, pero lo que sí sé es que la razón eres <span
                    class="text-red-600 font-semibold">tú</span
                >. <br /><br />La razón eres <span class="text-red-600 font-semibold"
                    >tú</span
                >,
                
                la causa de esta mezcolanza de emociones y sentimientos tan bellos
                que me dejó el día de hoy.
                <br /><br />
                La razón eres <span class="text-red-600 font-semibold">tú</span
                >, porque me abriste los ojos y me hiciste caer en cuenta de que
                quererte es lo más bonito que he podido sentir en la vida.
            </p>
        </div>
        <img src="https://i.imgur.com/Fp1bWM6.jpeg" class="w-40" />
    </div>
    <div class="flex items-center justify-center gap-5">
        <img src="https://i.imgur.com/ZZDg8OT.jpeg" class="w-32" />
        <p style="font-family: 'Cormorant Upright', serif;" class="w-40">
            La razón eres <span class="text-red-600 font-semibold">tú</span>,
            porque yo renací el día en que te conocí, y como dice Zoé:<span class="text-red-600 font-semibold" > "Todo el
            tiempo estoy pensando en ti”</span>.
            <br /><br />
            La razón eres <span class="text-red-600 font-semibold">tú</span>.
            Porque te conocí de la manera menos pensada, sin saber que después
            llegarías a ser lo que más he querido en la vida.
            <br /><br />
            Simplemente la razón de mi felicidad, de mi sonriza y de mi vida eres
            <span class="text-red-600 font-semibold">tú</span>.
        </p>
    </div>
</section>

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
    href="https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Encode+Sans:wght@100..900&family=Esteban&family=League+Script&display=swap"
    rel="stylesheet"
/>
